@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;

}

#since{
    font-size: smaller;
}

#pseudo{
    font-weight: bold;
}

.boxchat{
    display: flex;
    flex-direction: column;
    background-color: #969696;
    border : solid;
}

#messages{



}
